errorjourney-mcdcert-skinny/src/main/mule/justTheChild.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="oneChildFlow" doc:id="b378ddac-2ea5-44cc-926a-0c68ab6b3fac" >
		<http:listener doc:name="GET /child" doc:id="037785e3-3e1e-406b-827e-6e4d41a252e7" config-ref="HTTP_Listener_config" path="/child"/>
		<logger level="INFO" doc:name="child" doc:id="2abd4fd4-06c4-4d30-833d-ca222fd2c6c9" message='#["\n****** child logger reports\n******"]'/>
		<validation:is-null doc:name="has name" doc:id="a138acdf-97bb-4c92-8cf7-30a3186044d5" value="#[attributes.queryParams.name]">
			<error-mapping sourceType="VALIDATION:NOT_NULL" targetType="APP:NAME-EXISTS" />
		</validation:is-null>
		<validation:is-true doc:name="no name" doc:id="5dbba655-0dc2-4955-b3ff-81bd0a0c93b8" message="No name was found" expression="#[false]">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:NO-NAME" />
		</validation:is-true>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="d580f80a-d2f3-47b1-a41e-a7c0c43c3d87" type="APP:NAME-EXISTS">
				<logger level="INFO" doc:name="Logger" doc:id="cfa27cc5-e82a-410c-bf6c-4a9d05829eff" message='#["\n****** child error handler reports\n******"]' />
				<set-payload value='#["Error condition detected in the child flow"]' doc:name="Set Payload" doc:id="902987f2-25ac-4d50-aa85-9efd838273c6" />
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c3970fc5-2011-4efb-9608-4a126df83ef0" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="37585ad4-3ae8-4a72-8f80-d69b53ae50ea" message='#["\n****** child flow fails for unspecified reason\n******"]'/>
			</on-error-continue>
		</error-handler>
	</flow>
	
</mule>
