twoway-ssl-server/src/main/mule/twoway-ssl-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2585c314-6fc0-4183-9fa5-bbf613591ed1" >
		<http:listener-connection host="0.0.0.0" port="8082" protocol="HTTPS">
			<tls:context >
				<tls:trust-store path="server-truststore.jks" password="welcome123" type="jks" />
				<tls:key-store type="jks" path="server-keystore.jks" keyPassword="welcome123" password="welcome123" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<flow name="twoway-ssl-serverFlow" doc:id="53670623-18eb-47f0-a13b-271de52941ca" >
		<http:listener doc:name="/twowaysslrequest" doc:id="9c85bcc6-7a28-4355-8018-963a773472a5" config-ref="HTTP_Listener_config" path="/twowaysslrequest"/>
		<logger level="INFO" doc:name="Logger" doc:id="e67232d3-17cc-4765-8a9a-8b23c8a03a3d" message="#[payload]"/>
	</flow>
</mule>
